*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container .model{
    width: 600px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.container .sections{
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sections section{
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

#intro{
    background-color: #f57070;
}